footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
}

nav ul {
	list-style: none;
	display: flex;
	gap: 1.5rem;
	margin-bottom: 1rem;
}

footer nav ul li a {
	text-decoration: none;
	color: var(--blue-500);
}

footer p {
	text-align: center;
}
